body {
  background-color: var(--paintviz-light) !important;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700 !important;
  color: var(--paintviz-text);
}

form {
  max-width: 700px;
  margin: auto;
  padding: 2rem 1rem;
}

h4 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--paintviz-text);
}

.form-check-label {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: var(--paintviz-dark);
}

.form-label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--paintviz-text);
}

#grupo-telefone-email {
  display: flex;
  gap: 1rem;
}

#grupo-documento,
#grupo-telefone {
  flex: 1;               
  display: flex;
  flex-direction: column; 
}

.form-label::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.botoes-form {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-voltar {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

.btn-voltar:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-salvar {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

.btn-salvar:hover {
  opacity: 0.9;
  cursor: pointer;
}

